* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  /* hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */
  /* background: hsl(237, 49%, 15%); */
  background: radial-gradient(circle at top,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  padding: 2rem;
  color: aliceblue;
  height: 100vh;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 90%;
  margin: 0 auto;
}
.heading {
  border-radius: 1rem;
  border: 2px solid hsl(217, 16%, 45%);
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.score {
  background: aliceblue;
  width: 120px;
  height: 100px;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
.score p:first-child {
  color: hsl(229, 64%, 46%);
  text-transform: uppercase;
  font-size: small;
}

.score p:nth-child(2) {
  color: hsl(229, 25%, 31%);
  font-size: 3rem;
  font-weight: bold;
}

.modal-container {
  width: 350px;
  height: auto;
  background: aliceblue;
  color: black;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}
.modal-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: hsl(237, 49%, 15%);
}
.modal-heading h1 {
  text-transform: uppercase;
}
.close-icon {
  text-align: right;
}
.close-icon :hover {
  cursor: pointer;
}
.image-rules {
  text-align: center;
}

.hand {
  background: aliceblue;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  padding: 2rem;
  border: 1rem solid;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.paper {
  border-color: hsl(230, 89%, 62%);
  /* border-image: radial-gradient( hsl(230, 89%, 62%), hsl(230, 89%, 65%)); */
  margin-left: -4rem;
}
.rock {
  /* border-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)); */
  border-color: hsl(349, 71%, 52%);
}
.scissors {
  /* border-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)); */
  border-color: hsl(39, 89%, 49%);
  margin-left: 6rem;
}
.playground {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
}
.paper-scissors-div {
  display: flex;
  margin-bottom: -5rem;
  z-index: 2;
}
.rock-div {
  margin-top: -8rem;
  margin-left: 4rem;
}
.btn {
  border: 1px solid aliceblue;
  border-radius: 0.5rem;
  padding: 0.6rem 1.7rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
.outcome .btn {
  color: hsl(237, 49%, 15%);
  padding: 0.6rem 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.outcome .btn:hover {
  color: hsl(349, 71%, 52%);
}

.hand-selections {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}
.outcome-heading {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: .1rem;
}
.player-selection h1, .house-selection h1 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 300;
}
.player-selection button, .house-selection button {
  cursor: default;
}

footer {
  position: fixed;
  bottom: 1rem;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .btn {
  color: aliceblue;
  font-size: 0.8rem;
  background: none;
  margin: 0 1rem;
}

footer .btn:hover {
  background: aliceblue;
  color: hsl(237, 49%, 15%);
  transition: 0.4s;
}
