.modal-container {
  /* width: 50%; */
  height: auto;
  background: aliceblue;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.modal-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: hsl(237, 49%, 15%);
}
.modal-heading h1 {
  text-transform: uppercase;
}
.close-icon {
  text-align: right;
}
.close-icon :hover {
  cursor: pointer;
}
.image-rules {
  text-align: center;
}

@media (max-width: 563px) {
  .modal-container {
   width: 100%;
   height: 100%;
   border-radius: 0;
   grid-template-rows: repeat(3, 1fr);
   padding: 1rem;
  }
  .modal-heading {
    display: grid;
    justify-content: center;
    align-self: center;
    margin-bottom: 0;
  }
  .modal-heading h1 {
    font-size: 2rem;
  }
  .close-icon {
    position: absolute;
    bottom: 4rem;
    left: 50%
  }
}